<!--FORMULARIO USADO PARA ADICIONAR UM CIDADE -->

<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h4>ATUALIZAR CIDADE</h4>
        </div>
        <div class="card-body">
            <form action="" [formGroup]="formulario">         
                 <div class="form-row"> 
                    <br>
                     <div class="form-group">   
                        <label for="nome" class="form-label">NOME</label>
                        <input type="text" id="nome" formControlName="nome" class="form-control" 
                               required style="background-color: lightblue;">
                     </div>
                <br>
                    <div class="form-group">     
                     <label for="estado" class="form-label">ESTADO</label>
                     <select class="form-select" id="estado" formControlName="estado" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE ESTADO</option>
                        <option *ngFor="let estado of estados" [ngValue]="estado">
                            {{estado}}
                            </option>
                       </select>
                     </div>
                <br>     
                <br>
                <div class="botao">
                    <button (click)="OnSubmit()" class="btn btn-danger">ATUALIZAR</button>
               </div>
               </div>
            </form>
            <br>
            <br>
            <p>Form value: {{ formulario.value | json }}</p>
        </div>
    </div>
</div>




