.container {
    height: 100%;
    background-color: white;
}

.card {
    background: chartreuse;
}

.card-header{
    background: chartreuse;
}

.card-header h4{
    margin-top: 10px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
}

 .botao {
    margin-top: 20px;
     margin-left: 300px;
     height: 60px;
     width: 500px;
     text-align: center;
     display: block;
     
 }
  
 .botao button {
    background-color: #4CAF50; /* Green */
    border: 5px solid blue;
    margin-top: 6px;
    margin-left: 20px;
    background-color: #FFC50C;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

 .botao button:hover { 
    color: black;
    background:  aqua;
    /*background: chartreuse;*/
  }

  .table table-bordered td{
      background-color: chartreuse;
  }

  .car-body table {
    color: black;
    background-color: white;
  }



