<!--TABELA USADA PARA LISTAR AS CIDADES-->
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>LISTA CIDADES</h4>
        </div>
        <div class="car-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" style="text-align: center; background-color: green; color: honeydew;"> ID</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">NOME</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">ESTADO</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">AÇÃO</th>
                      </tr>
                    </thead>
                  <tbody>
                      <tr *ngFor="let cidade of cidades" class="text-center">
                          <td>{{cidade.id}}</td>
                          <td>{{cidade.nome}}</td>
                          <td>{{cidade.estado}}</td>
                          <td>
                          <button (click)="Atualizar(cidade)" class="btn btn-warning">Editar</button>
                          <button (click)="Delete(cidade)" class="btn btn-danger" style="margin-left: 5px;">Delete</button>
                          </td>
                      </tr>
                  </tbody>
            </table>
        </div>
        <div class="botao">
            <div class="btn-group" role="group" aria-label="Exemplo básico">
              <button type="button"  (click)=" CadastrarCidade()" class="btn btn-secondary">CADASTRAR CIDADE</button>        
              <button type="button"  (click)=" CadastrarDistrito()" class="btn btn-secondary">CADASTRAR DISTRITO</button>
        </div>
       </div>
    </div>
</div>



