<!--TABELA USADA PARA LISTAR OS MÃES-->
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>LISTAR ALUNO</h4>
        </div>
        <div class="car-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">NOME</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">CPF</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">FONE</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">EMAIL</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">ENDEREÇO</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">AÇÃO</th>
                      </tr>
                    </thead>
                  <tbody>
                      <tr *ngFor="let aluno of alunos" class="text-center">
                          <td>{{aluno.pessoa.nome}}</td>
                          <td>{{aluno.pessoa.cpf}}</td>
                          <td>{{aluno.pessoa.fone}}</td>
                          <td>{{aluno.pessoa.email}}</td>
                          <td>{{aluno.pessoa.endereco.rua.logradouro}}</td>
                          <td>
                          <button (click)="Atualizar(aluno)" class="btn btn-warning">Editar</button>
                          <button (click)="Delete(aluno)" class="btn btn-danger" style="margin-left: 5px;">Delete</button>
                          </td>
                      </tr>
                  </tbody>
            </table>
        </div>
        <div class="botao">
            <div class="btn-group" role="group" aria-label="Exemplo básico">
            <button type="button"  (click)=" CadastrarAluno()" class="btn btn-secondary">CADASTRAR ALUNO</button>
            <!--<button type="button" (click)=" CadastrarRua()" class="btn btn-secondary">CADASTRAR RUA</button>-->
        </div>
       </div>
    </div>
</div>





