<!--TABELA USADA PARA LISTAR OS ESCOLA-->
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>LISTAR CARTÓRIO</h4>
        </div>
        <div class="car-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" style="text-align: center; background-color: green; color: honeydew;"> ID</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">NOME</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">FONE</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">EMAIL</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">ENDEREÇO</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">AÇÃO</th>
                      </tr>
                    </thead>
                  <tbody>
                      <tr *ngFor="let cartorio of cartorios" class="text-center">
                          <td>{{cartorio.pessoa.id}}</td>
                          <td>{{cartorio.pessoa.nome}}</td>
                          <td>{{cartorio.pessoa.fone}}</td>
                          <td>{{cartorio.pessoa.email}}</td>
                          <td>{{cartorio.pessoa.endereco.rua.logradouro}}</td>
                          <td>
                          <button (click)="Atualizar(cartorio)" class="btn btn-warning">Editar</button>
                          <button (click)="Delete(cartorio)" class="btn btn-danger" style="margin-left: 5px;">Delete</button>
                          </td>
                      </tr>
                  </tbody>
            </table>
        </div>
        <div class="botao">
            <div class="btn-group" role="group" aria-label="Exemplo básico">
            <button type="button"  (click)=" CadastrarCartorio()" class="btn btn-secondary">CADASTRAR CARTÓRIO</button>
            <!--<button type="button" (click)=" CadastrarEndereco()" class="btn btn-secondary">CADASTRAR ENDEREÇO</button>-->
        </div>
       </div>
    </div>
</div>


