<!--FORMULARIO USADO PARA ADICIONAR UM PROBLEMA DE SAÚDE  -->
<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h4>CADASTRAR PROBLEMA SAÚDE</h4>
        </div>
        <div class="card-body">
            <form action="" [formGroup]="formulario">         
                 <div class="form-row"> 
                    <br>
                     <div class="form-group">   
                        <label for="nome" class="form-label">NOME</label>
                        <input type="text" id="nome" formControlName="nome" class="form-control" 
                               required style="background-color: lightblue;">
                     </div>
                <br>
                <br>
                     <div class="form-group">   
                        <label for="causa" class="form-label">CAUSA</label>
                        <input type="text" id="causa" formControlName="causa" class="form-control" placeholder="" 
                                    autocomplete="off" required style="background-color: lightblue;">
                     </div>
                <br>
                    <div class="form-group">     
                     <label for="grauPerigo" class="form-label">GRAU PERIGO</label>
                     <select class="form-select" id="grauPerigo" formControlName="grauPerigo" required style="background-color: lightblue;">
                        <option *ngFor="let grauPerigo of grauperigos" [ngValue]="grauPerigo">
                            {{grauPerigo}}
                            </option>
                       </select>
                     </div>
                <br>     
                <br>
                <div class="botao">
                    <div class="btn-group" role="group" aria-label="Exemplo básico">
                    <button (click)="OnSubmit()" class="btn btn-danger">CADASTRAR</button>
                </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#cep").mask("00000-000");
    </script>

