<!--FORMULARIO USADO PARA ADICIONAR UM DISTRITO E -->

<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h4>ATUALIZAR DISTRITO</h4>
        </div>
        <div class="card-body">
            <form action="" [formGroup]="formulario">         
                 <div class="form-row"> 
                    <br>
                     <div class="form-group">   
                        <label for="nome" class="form-label">NOME</label>
                        <input type="text" id="nome" formControlName="nome" class="form-control" 
                               required style="background-color: lightblue;">
                     </div>
                <br>
                    <div class="form-group">     
                     <label for="cidade" class="form-label">CIDADE</label>
                     <select class="form-select" id="cidade" formControlName="cidade" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE CIDADE</option>
                        <option *ngFor="let cidade of cidades" [ngValue]="cidade">
                            {{cidade.id}}
                            {{cidade.nome}}
                            </option>
                       </select>
                     </div>
                <br>     
                <br>
                <div class="botao">
                    <div class="btn-group" role="group" aria-label="Exemplo básico">
                    <button (click)="OnSubmit()" class="btn btn-danger">ATUALIZAR</button>
                    <button type="button" (click)=" CadastrarCidade()" class="btn btn-secondary">CADASTRAR CIDADE</button>
                </div>
               </div>
               </div>
            </form>
            <br>
            <br>
            <p>Form value: {{ formulario.value | json }}</p>
        </div>
    </div>
</div>



