<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <img src="/assets/imagens/Laura.png" class="img-thumbnail" alt="" width="160" height="200">
    <!--<mat-toolbar>Menu</mat-toolbar>-->

    <div class="dropdowButoes">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        OPERACIONAL
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
         <!--<li><a class="dropdown-item" routerLink="/listarendereco" routerLinkActive="selected">ENDEREÇO</a></li>-->
         <li><a class="dropdown-item" routerLink="/listaraluno" routerLinkActive="selected">ALUNO</a></li>
         <li><a class="dropdown-item" routerLink="/listarmae" routerLinkActive="selected">MÃE</a></li>
         <li><a class="dropdown-item" routerLink="/listarpai" routerLinkActive="selected">PAI</a></li>
         <li><a class="dropdown-item" routerLink="/listarirmao" routerLinkActive="selected">IRMÃO</a></li>
         <li><a class="dropdown-item" routerLink="/listarlivro" routerLinkActive="selected">LIVRO</a></li>
         <li><a class="dropdown-item" routerLink="/listarrua" routerLinkActive="selected">RUA</a></li>
         <li><a class="dropdown-item" routerLink="/listardistrito" routerLinkActive="selected">DISTRITO</a></li>
         <li><a class="dropdown-item" routerLink="/listarcidade" routerLinkActive="selected">CIDADE</a></li>
         <li><a class="dropdown-item" routerLink="/listarescola" routerLinkActive="selected">ESCOLA</a></li>
         <li><a class="dropdown-item" routerLink="/listarcartorio" routerLinkActive="selected">CARTÓRIO</a></li>
         <li><a class="dropdown-item" routerLink="/listarproblesaude" routerLinkActive="selected">PROBLE/SAÚDE</a></li>
         <li><a class="dropdown-item" routerLink="/listaralergia" routerLinkActive="selected">ALERGIA</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
       FINANCEIRO
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
       GERÊNCIA
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <!--<li><a class="dropdown-item" routerLink="/listarendereco" routerLinkActive="selected">ENDEREÇO</a></li>-->
        <li><a class="dropdown-item" routerLink="/listarrua" routerLinkActive="selected">RUA</a></li>
        <li><a class="dropdown-item" routerLink="/listardistrito" routerLinkActive="selected">DISTRITO</a></li>
        <li><a class="dropdown-item" routerLink="/listarcidade" routerLinkActive="selected">CIDADE</a></li>
        <li><a class="dropdown-item" routerLink="/listarescola" routerLinkActive="selected">ESCOLA</a></li>
      </ul>
    </div>
  </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Associação Laura dos Santos</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
