.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 160px;
  background-color: green;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: green;
}

.mat-toolbar.mat-primary span{
  margin-left: 330px;
  font: 30px  Arial, Verdana,Helvetica,sans-serif;
}

.sidenav-container {
  background-color: white;
}

.dropdowButoes {
  margin-top: 60px;
}

.dropdown {
  margin-top: 100px;
}

.mat-sidenav-content mat-toolbar {
  height: 60px;
}

.mat-sidenav-content span {
  font: 20px  Arial, Verdana,Helvetica,sans-serif;
}

.dropdown a:hover {
  text-decoration-color: black;
  background:  aqua;
  border: 5px solid blue; 
}

.dropdown a {
  text-decoration-color: black;
  background:  #FFC50C;
  border: 5px solid blue;
}

.dropdown-menu {
  color: blue;
  background:  blue;
}


/*.sidenav-container mat-nav-list a{
  font: 20px  Arial, Verdana,Helvetica,sans-serif;
  color: #000;
  text-decoration: none;
  background:  #FFC50C;
  text-align: center;
  padding: 5px 10px;
  margin-right:1px;
  margin-top: 20px;
  display: block;
   border: 5px solid blue;  
}

  .sidenav-container mat-nav-list a:hover {
  color: #666;
  background: #FCFCFC;
  display: block;
   border: 5px solid blue;  
  }*/



