<!--TABELA USADA PARA LISTAR OS DISTRIOS-->
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>LISTA DISTRITOS</h4>
        </div>
        <div class="car-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" style="text-align: center; background-color: green; color: honeydew;"> ID</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">NOME</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">CIDADE</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">AÇÃO</th>
                      </tr>
                    </thead>
                  <tbody>
                      <tr *ngFor="let distrito of distritos" class="text-center">
                          <td>{{distrito.id}}</td>
                          <td>{{distrito.nome}}</td>
                          <td>{{distrito.cidade.nome}}</td>
                          <td>
                          <button (click)="Atualizar(distrito)" class="btn btn-warning">Editar</button>
                          <button (click)="Delete(distrito)" class="btn btn-danger" style="margin-left: 5px;">Delete</button>
                          </td>
                      </tr>
                  </tbody>
            </table>
        </div>
        <div class="botao">
            <button type="button"  (click)=" CadastrarDistrito()" class="btn btn-secondary">CADASTRAR DISTRITO</button>
       </div>
    </div>
</div>


