<!--TABELA USADA PARA LISTAR OS PROBLEMAS DE SAÚDE-->
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>LISTAR ALERGIA</h4>
        </div>
        <div class="car-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" style="text-align: center; background-color: green; color: honeydew;"> ID</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">NOME</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">CAUSA</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">GRAU PERIGO</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">AÇÃO</th>
                      </tr>
                    </thead>
                  <tbody>
                      <tr *ngFor="let alergia of alergias" class="text-center">
                          <td>{{alergia.id}}</td>
                          <td>{{alergia.nome}}</td>
                          <td>{{alergia.causa}}</td>
                          <td>{{alergia.grauPerigo}}</td>
                          <td>
                          <button (click)="Atualizar(alergia)" class="btn btn-warning">Editar</button>
                          <button (click)="Delete(alergia)" class="btn btn-danger" style="margin-left: 5px;">Delete</button>
                          </td>
                      </tr>
                  </tbody>
            </table>
        </div>
        <div class="botao">
            <button type="button"  (click)=" CadastrarAlergia()" class="btn btn-secondary">CADASTRAR ALERGIA</button>
       </div>
    </div>
</div>



