<!--FORMULARIO USADO PARA ADICIONAR UMA ESCOLA-->
<div class="container col-md-12">
    <div class="card">
        <div class="card-header">
            <h4>ATUALIZAR ALUNO</h4>
        </div>
        <div class="card-body">
            <form class="form-inline" action="" [formGroup]="formulario">  
                <div class="row">       
                    <div class="col-sm-4">
                        <label for="nome" class="form-label">NOME</label>
                        <input type="text" id="nome" formControlName="nome" class="form-control" 
                               required style="background-color: lightblue;">
                     </div>
                     <br>
                     <div class="col-sm-2">   
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" id="cpf" formControlName="cpf" placeholder="000.000.000-00"
                               class="form-control" required style="background-color: lightblue;">
                     </div>
                     <br>
                    <div class="col-sm-2">  
                        <label for="rg" class="form-label">RG</label>
                        <input type="text" id="rg" formControlName="rg" class="form-control" placeholder="00.000.000-0"
                               required style="background-color: lightblue;">
                     </div>   
                     <br>
                     <div class="col-sm-3">  
                        <label for="orgaoExpedidorRg" class="form-label">ORGÃO EXPEDIDOR</label>
                        <select class="form-select" id="orgaoExpedidorRg" formControlName="orgaoExpedidorRg" required 
                                style="background-color: lightblue;">
                          <option value="" disabled>SELECIONE EXPEDIDOR</option>
                          <option *ngFor="let orgaoExpedidorRg of orgaoExpedidorRgs" [ngValue]="orgaoExpedidorRg">
                              {{orgaoExpedidorRg}}
                              </option>
                         </select>
                      </div>   
                </div>   
                <br>                 
                <div class="row">
                    <div class="col-sm-2">   
                        <label for="dataExpedicaoRg">DATA EXPEDIÇÃO</label>
                        <input type="date" id="dataExpedicaoRg" formControlName="dataExpedicaoRg" placeholder="yyyy/MM/dd hh:mm" 
                           required  style="background-color: lightblue;"/>
                    </div> 
                    <br> 
                    <div class="col-sm-3">  
                      <label for="sexo" class="form-label">SEXO</label>
                      <select class="form-select" id="sexo" formControlName="sexo" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE SEXO</option>
                        <option *ngFor="let sexo of sexos" [ngValue]="sexo">
                            {{sexo}}
                            </option>
                       </select>
                    </div> 
                     <br>
                    <div class="col-sm-4">   
                        <label for="email" class="form-label">EMAIL</label>
                        <input type="email" id="email" formControlName="email" class="form-control" 
                               placeholder="email@hotmail.com" required style="background-color: lightblue;">
                     </div>
                     <br>
                     <div class="col-sm-2">  
                        <label for="fone" class="form-label">FONE</label>
                          <input type="text" id="fone" formControlName="fone" class="form-control" placeholder="(00) 90000-0000"
                             required style="background-color: lightblue;">
                      </div>
                </div> 
                <br> 
                <div class="row">
                    <div class="col-sm-2">   
                        <label for="dataNascimento">DATA NASCIMENTO</label>
                        <input type="date" id="dataNascimento" formControlName="dataNascimento" placeholder="yyyy/MM/dd hh:mm" 
                           required  style="background-color: lightblue;"/>
                    </div>   
                      <br>      
                    <div class="col-sm-3">     
                       <label for="rua" class="form-label">RUA</label>
                       <select class="form-select" id="rua" formControlName="rua" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE RUA</option>
                        <option *ngFor="let rua of ruas" [ngValue]="rua">
                            {{rua.id}}
                            {{rua.logradouro}}
                            </option>
                       </select>
                    </div>     
                    <br>
                     <div class="col-sm-3">   
                        <label for="referencia" class="form-label">REFERÊNCIA</label>
                        <input type="text" id="referencia" class="form-control" formControlName="referencia" 
                               required style="background-color: lightblue;">
                     </div> 
                    <br>
                    <div class="col-sm-2">
                        <label for="numero" class="form-label">NÚMERO</label>
                          <input type="number" id="numero" formControlName="numero" step="1" required  
                                 style="background-color: lightblue;"/>
                    </div>
                </div>   
                    <br> 
                <div class="row">    
                    <div class="col-sm-4">     
                       <label for="pai" class="form-label">PAI</label>
                       <select class="form-select" id="pai" formControlName="pai" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE PAI</option>
                        <option *ngFor="let pai of pais" [ngValue]="pai">
                            {{pai.id}}
                            {{pai.pessoa.nome}}
                            </option>
                       </select>
                    </div>
                   <br> 
                   <div class="col-sm-4">     
                       <label for="mae" class="form-label">MÃE</label>
                       <select class="form-select" id="mae" formControlName="mae" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE MÃE</option>
                        <option *ngFor="let mae of maes" [ngValue]="mae">
                            {{mae.id}}
                            {{mae.pessoa.nome}}
                            </option>
                       </select>
                    </div>
                   <br>    
                   <div class="col-sm-3">     
                       <label for="cidade" class="form-label">CIDADE</label>
                       <select class="form-select" id="cidade" formControlName="cidade" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE CIDADE</option>
                        <option *ngFor="let cidade of cidades" [ngValue]="cidade">
                            {{cidade.id}}
                            {{cidade.nome}}
                            </option>
                       </select>
                    </div>
                    </div>
                   <br> 
                <div class="row">  
                    <div class="col-sm-3">     
                       <label for="cartorio" class="form-label">CARTÓRIO</label>
                       <select class="form-select" id="cartorio" formControlName="cartorio" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE CARTÓRIO</option>
                        <option *ngFor="let cartorio of cartorios" [ngValue]="cartorio">
                            {{cartorio.id}}
                            {{cartorio.pessoa.nome}}
                            </option>
                       </select>
                    </div>
                    <br>
                    <div class="col-sm-2">
                        <label for="numeroLivro" class="form-label">NÚMERO LIVRO</label>
                          <input type="number" id="numeroLivro" formControlName="numeroLivro" step="1" required  
                                 style="background-color: lightblue;"/>
                    </div>
                    <br>
                    <div class="col-sm-2">
                        <label for="numeroFolha" class="form-label">NÚMERO FOLHA</label>
                          <input type="number" id="numeroFolha" formControlName="numeroFolha" step="1" required  
                                 style="background-color: lightblue;"/>
                    </div>
                    <br>
                    <div class="col-sm-2">
                        <label for="numeroTermo" class="form-label">NÚMERO TERMO</label>
                          <input type="number" id="numeroTermo" formControlName="numeroTermo" step="1" required  
                                 style="background-color: lightblue;"/>
                    </div>
                </div>
                <br> 
                     <div class="text-success">
                        <hr class="border-primary border-3 opacity-75">
                     </div>
    
                <div class="row">       
                        <div class="col-sm-3">
                            <label for="matriculaAssociacao" class="form-label">MATRICULA ASSOCIAÇÃO</label>
                            <input type="number" id="matriculaAssociacao" formControlName="matriculaAssociacao" step="1" 
                            required style="background-color: lightblue;"/>
                         </div>
                         <br>
                         <div class="col-sm-2">   
                            <label for="dataMatriculaAssociacao">DATA MATRICULA</label>
                            <input type="date" id="dataMatriculaAssociacao" formControlName="dataMatriculaAssociacao" 
                                   placeholder="yyyy/MM/dd hh:mm"  required  style="background-color: lightblue;"/>
                        </div>  
                         <br>
                         <div class="col-sm-3">     
                            <label for="situacaoAssociacao" class="form-label">SITUAÇÃO</label>
                            <select class="form-select" id="situacaoAssociacao" formControlName="situacaoAssociacao" 
                                    required style="background-color: lightblue;">
                             <option value="" disabled>SELECIONE SITUAÇÃO</option>
                             <option *ngFor="let situacaoAssociacao of situacoes" [ngValue]="situacaoAssociacao">
                                 {{situacaoAssociacao}}
                                 </option>
                            </select>
                         </div>
                         <br>
                         <div class="col-sm-3">     
                            <label for="escola" class="form-label">ESCOLA</label>
                            <select class="form-select" id="escola" formControlName="escola" required style="background-color: lightblue;">
                             <option value="" disabled>SELECIONE ESCOLA</option>
                             <option *ngFor="let escola of escolas" [ngValue]="escola">
                                 {{escola.id}}
                                 {{escola.pessoa.nome}}
                                 </option>
                            </select>
                         </div> 
                    </div>     
                    <br> 
                    <div class="row"> 
                        <div class="col-sm-2">
                            <label for="matriculaEscola" class="form-label">MATRICULA ESCOLA</label>
                              <input type="number" id="matriculaEscola" formControlName="matriculaEscola" step="1" 
                               required style="background-color: lightblue;"/>
                        </div>
                        <br> 
                        <div class="col-sm-3">     
                            <label for="serie" class="form-label">SÉRIE</label>
                            <select class="form-select" id="serie" formControlName="serie" required style="background-color: lightblue;">
                             <option value="" disabled>SELECIONE A SÉRIE</option>
                             <option *ngFor="let serie of series" [ngValue]="serie">
                                 {{serie}}
                                 </option>
                            </select>
                         </div>
                        <br>    
                        <div class="col-sm-3">     
                            <label for="turno" class="form-label">TURNO</label>
                            <select class="form-select" id="turno" formControlName="turno" required style="background-color: lightblue;">
                             <option value="" disabled>SELECIONE TURNO</option>
                             <option *ngFor="let turno of turnos" [ngValue]="turno">
                                 {{turno}}
                                 </option>
                            </select>
                         </div>
                         <br> 
                         <div class="col-sm-3">     
                            <label for="racaCor" class="form-label">RAÇA/COR</label>
                            <select class="form-select" id="racaCor" formControlName="racaCor" required style="background-color: lightblue;">
                             <option value="" disabled>SELECIONE RAÇA/COR</option>
                             <option *ngFor="let racaCor of racacores" [ngValue]="racaCor">
                                 {{racaCor}}
                                 </option>
                            </select>
                         </div> 
                    </div>  
                    <br> 
                    <div class="row"> 
                        <div class="col-sm-3">     
                            <label for="bolsa" class="form-label">RECEBE BOLSA</label>
                            <select class="form-select" id="bolsa" formControlName="bolsa" required style="background-color: lightblue;">
                             <option value="" disabled>SELECIONE A SÉRIE</option>
                             <option *ngFor="let bolsa of bolsas" [ngValue]="bolsa">
                                 {{bolsa}}
                                 </option>
                            </select>
                         </div>
                    </div>
                <br> 
                <div class="botao">
                    <div class="btn-group" role="group" aria-label="Exemplo básico">
                    <button (click)="OnSubmit()" class="btn btn-danger">ATUALIZAR</button>
                    <button type="button" (click)=" CadastrarRua()" class="btn btn-secondary">CADASTRAR RUA</button>
                </div>
               </div>
            </form>
            <br>
            <br>
            <p>Form value: {{ formulario.value | json }}</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#cep").mask("00000-000");
    </script>






