<!--FORMULARIO USADO PARA ADICIONAR UM CLIENTE E -->
<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h4>CADASTRAR RUA</h4>
        </div>
        <div class="card-body">
            <form action="" [formGroup]="formulario">         
                 <div class="form-row"> 
                    <br>
                     <div class="form-group">   
                        <label for="logradouro" class="form-label">LOGRADOURO</label>
                        <input type="text" id="logradouro" formControlName="logradouro" class="form-control" 
                               required style="background-color: lightblue;">
                     </div>
                <br>
                <br>
                     <div class="form-group">   
                        <label for="cep" class="form-label">CEP</label>
                        <input type="text" id="cep" formControlName="cep" class="form-control" placeholder="Ex.: 00000-000" 
                            data-mask="00000-000" maxlength="9" autocomplete="off" required style="background-color: lightblue;">
                     </div>
                <br>
                    <div class="form-group">     
                     <label for="distrito" class="form-label">DISTRITO</label>
                     <select class="form-select" id="distrito" formControlName="distrito" required style="background-color: lightblue;">
                        <option *ngFor="let distrito of distritos" [ngValue]="distrito">
                            {{distrito.id}}
                            {{distrito.nome}}
                            </option>
                       </select>
                     </div>
                <br>     
                <br>
                <div class="botao">
                    <div class="btn-group" role="group" aria-label="Exemplo básico">
                    <button (click)="OnSubmit()" class="btn btn-danger">CADASTRAR</button>
                    <button type="button" (click)=" CadastrarDistrito()" class="btn btn-secondary">CADASTRAR DISTRITO</button> 
                </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#cep").mask("00000-000");
    </script>
