<!--TABELA USADA PARA LISTAR OS Endereços-->
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Lista de Ruas</h4>
        </div>
        <div class="car-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" style="text-align: center; background-color: green; color: honeydew;"> ID</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">LOGRADOURO</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">CEP</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">NOME DISTRITO</th>
                        <th scope="col"style="text-align: center; background-color: green; color: honeydew;">AÇÃO</th>
                      </tr>
                    </thead>
                  <tbody>
                      <tr *ngFor="let rua of ruas" class="text-center">
                          <td>{{rua.id}}</td>
                          <td>{{rua.logradouro}}</td>
                          <td>{{rua.cep}}</td>
                          <td>{{rua.distrito.nome}}</td>
                          <td>
                          <button (click)="Atualizar(rua)" class="btn btn-warning">Editar</button>
                          <button (click)="Delete(rua)" class="btn btn-danger" style="margin-left: 5px;">Delete</button>
                          </td>
                      </tr>
                  </tbody>
            </table>
        </div>
        <div class="botao">
            <button type="button"  (click)=" CadastrarRua()" class="btn btn-secondary">CADASTRAR RUA</button>
       </div>
    </div>
</div>

