<!--FORMULARIO USADO PARA ADICIONAR UMA ESCOLA-->
<div class="container col-md-12">
    <div class="card">
        <div class="card-header">
            <h4>CADASTRAR PAI</h4>
        </div>
        <div class="card-body">
            <form class="form-inline" action="" [formGroup]="formulario">  
                <div class="row">       
                    <div class="col-sm-4">
                        <label for="nome" class="form-label">NOME</label>
                        <input type="text" id="nome" formControlName="nome" class="form-control" 
                               required style="background-color: lightblue;">
                     </div>
                    <br>
                    <div class="col-sm-2">   
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" id="cpf" formControlName="cpf" placeholder="000.000.000-00"
                               class="form-control" required style="background-color: lightblue;">
                     </div>
                     <br>
                        <div class="col-sm-2">  
                        <label for="rg" class="form-label">RG</label>
                        <input type="text" id="rg" formControlName="rg" class="form-control" placeholder="00.000.000-0"
                               required style="background-color: lightblue;">
                     </div>              
                    <br>              
                    <div class="col-sm-3">  
                      <label for="sexo" class="form-label">SEXO</label>
                      <select class="form-select" id="sexo" formControlName="sexo" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE SEXO</option>
                        <option *ngFor="let sexo of sexos" [ngValue]="sexo">
                            {{sexo}}
                            </option>
                       </select>
                    </div> 
                </div>
                <br>
                 <div class="row">
                    <div class="col-sm-4">   
                        <label for="email" class="form-label">EMAIL</label>
                        <input type="email" id="email" formControlName="email" class="form-control" 
                               placeholder="email@hotmail.com" required style="background-color: lightblue;">
                     </div>
                     <div class="col-sm-2">  
                        <label for="fone" class="form-label">FONE</label>
                          <input type="text" id="fone" formControlName="fone" class="form-control" placeholder="(00) 90000-0000"
                             required style="background-color: lightblue;">
                      </div>
                     <br>
                    <div class="col-sm-2">   
                        <label for="dataNascimento">DATA NASCIMENTO</label>
                        <input type="date" id="dataNascimento" formControlName="dataNascimento" placeholder="yyyy/MM/dd hh:mm" 
                           required  style="background-color: lightblue;"/>
                    </div>
                     <br>
                     <div class="col-sm-3">   
                        <label for="escolaridade" class="form-label">ESCOLARIDADE</label>
                        <select class="form-select" id="escolaridade" formControlName="escolaridade" required 
                                style="background-color: lightblue;">
                            <option value="" disabled>SELECIONE ESCOLARIDADE</option>
                            <option *ngFor="let escolaridade of escolaridades" [ngValue]="escolaridade">
                                {{escolaridade}}
                                </option>
                           </select>
                     </div>     
                </div>
                <br>
                <div class="row">        
                     <div class="col-sm-3">  
                        <label for="profissao" class="form-label">PROFISSÃO</label>
                          <input type="text" id="profissao" formControlName="profissao" class="form-control" placeholder=""
                             required style="background-color: lightblue;">
                      </div>
                     <br>
                     <div class="col-sm-4">  
                        <label for="local_trabalho" class="form-label">LOCAL TRABALHO</label>
                          <input type="text" id="local_trabalho" formControlName="local_trabalho" class="form-control" 
                          placeholder="" required style="background-color: lightblue;">
                      </div>
                     <br>
                    <div class="col-sm-4">     
                       <label for="rua" class="form-label">RUA</label>
                       <select class="form-select" id="rua" formControlName="rua" required style="background-color: lightblue;">
                        <option value="" disabled>SELECIONE RUA</option>
                        <option *ngFor="let rua of ruas" [ngValue]="rua">
                            {{rua.id}}
                            {{rua.logradouro}}
                            </option>
                       </select>
                    </div>     
                </div>
                <br>
                <div class="row"> 
                     <div class="col-sm-3">   
                        <label for="referencia" class="form-label">REFERÊNCIA</label>
                        <input type="text" id="referencia" class="form-control" formControlName="referencia" 
                               required style="background-color: lightblue;">
                     </div> 
                    <br>
                    <div class="col-sm-3">
                        <label for="numero" class="form-label">NÚMERO</label>
                          <input type="number" id="numero" formControlName="numero" step="1" required  
                                 style="background-color: lightblue;"/>
                    </div>
                    </div>
                <br> 
                <div class="botao">
                    <div class="btn-group" role="group" aria-label="Exemplo básico">
                    <button (click)="OnSubmit()" class="btn btn-danger">CADASTRAR</button>
                    <button type="button" (click)=" CadastrarRua()" class="btn btn-secondary">CADASTRAR RUA</button>
                </div>
               </div>
            </form>
            <br>
            <br>
            <p>Form value: {{ formulario.value | json }}</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#cep").mask("00000-000");
    </script>


